@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "AdelleEB";
  src: url(../media/font/Adelle_ExtraBold.otf);
}
@font-face {
  font-family: "AdelleB";
  src: url(../media/font/adelle-sans-bold.otf);
}
@font-face {
  font-family: "AdelleL";
  src: url(../media/font/adelle-sans-light.otf);
}
body::-webkit-scrollbar {
  background: rgb(0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
}

html {
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease;
  scroll-behavior: smooth;
  z-index: 9999;
}
header img {
  height: 40px;
}

nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

nav img {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

footer {
  bottom: 0;
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
  padding-bottom: 25px;
}
footer img {
  padding-top: 20px;
  padding-bottom: 8px;
}
footer a {
  text-decoration: none;
}
footer svg {
  color: white;
  padding: 5px;
  cursor: pointer;
}

#whatsApp_icon:hover {
  cursor: pointer;
  color: rgb(117, 116, 116);
  transition: 0.5s;
}

#instagram_icon:hover path {
  color: rgb(117, 116, 116);
  transition: 0.5s;
}

#facebook_icon:hover {
  color: rgb(117, 116, 116);
  transition: 0.5s;
}

#pinterest_icon:hover {
  color: rgb(117, 116, 116);
  transition: 0.5s;
}

#linkedin_icon:hover {
  color: rgb(117, 116, 116);
  transition: 0.5s;
}

.container_links_footer {
  display: flex;
  justify-content: center;
  text-align: justify;
  padding-top: 30px;
  padding-bottom: 30px;
}

.container_texts_footer {
  padding: 50px;
  padding-top: 25px;
  padding-bottom: 35px;
  font-family: "AdelleL";
}
.container_texts_footer ul {
  list-style: none;
}
.container_texts_footer li {
  line-height: 1.5;
  margin-bottom: 10px;
}
.container_texts_footer a {
  text-decoration: none;
  color: #ffffff;
}

small {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 30px;
  color: #ffffff;
}
small a {
  text-decoration: none;
  color: white;
}

.developer:hover {
  text-decoration: underline;
  transition: 0.5s;
}

.first_section {
  background-color: black;
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
}

.background_video {
  height: 100vh;
  overflow: hidden; /* Para ocultar partes del video que excedan el contenedor */
}

#background_Video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.first_section_slogan {
  display: flex;
  padding-bottom: 85px;
}

#slogan {
  padding-left: 6px;
}

.first_section_slogan_word {
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

.logo {
  margin-top: 130px;
  margin-left: 70px;
}

.first_section_slogan p {
  font-family: "AdelleL";
  color: white;
  font-size: 25px;
  padding-top: 15px;
  padding-left: 80px;
}

.first_section_portal {
  display: flex;
  height: 276px;
}
.first_section_portal .first_section_portal_img {
  position: relative;
  align-items: center;
}
.first_section_portal .first_section_portal_img img {
  padding-top: 20px;
  width: 420px;
  height: 100%;
  object-fit: cover;
}
.first_section_portal .first_section_portal_img .more {
  position: absolute;
  margin-left: 35%;
  transform: translateY(-370%);
  text-align: center;
  z-index: 9;
}
.first_section_portal .first_section_portal_img .more a {
  text-decoration: none;
  color: white;
  font-family: "AdelleL";
  font-size: 35px;
}
.first_section_portal .first_section_portal_button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 50px;
  background-color: rgb(255, 255, 255);
  width: 50px;
  height: 110px;
}
.first_section_portal .first_section_portal_button svg {
  fill: rgb(0, 0, 0);
}

.first_section_portal_button:hover {
  transition: 0.7s;
  background-color: rgb(117, 116, 116);
}
.first_section_portal_button:hover svg {
  fill: white;
}

.second_section {
  display: flex;
  width: 100%;
  height: 65vh;
  background-color: #000;
  overflow: hidden;
}
.second_section img {
  height: 65vh;
  width: 50%;
  object-fit: cover;
}

#card1 {
  position: absolute;
  transform: translateX(90%) translateY(50%);
}

.img_2section {
  transition: opacity 0.5s ease-in-out; /* Puedes ajustar la duración y el tipo de transición según tus preferencias */
}

.third_section {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 90vh;
  width: 100%;
  background: linear-gradient(to right, white 51%, rgb(0, 0, 0) 0%);
}
.third_section a {
  text-decoration: none;
  color: black;
}
.third_section li {
  font-family: "AdelleL";
  font-size: 40px;
}
.third_section img {
  height: 100%;
  width: 90%;
  object-fit: cover;
}

.vertical_line {
  width: 1px; /* Ancho de la línea */
  height: 46%; /* Altura de la línea (ajusta según sea necesario) */
  background-color: #000; /* Color de la línea */
  margin-right: 25px;
  margin-bottom: 50px; /* Margen a la derecha de la línea (ajusta según sea necesario) */
  display: inline-block; /* Para que la línea no afecte el diseño de la lista */
}

.third_section_photos {
  display: flex;
  justify-content: start;
  align-items: center;
}

.third_section_links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}
.third_section_links ul li {
  transform: translateY(-40%);
  margin-bottom: 15px;
  list-style: none;
}

#card2 {
  z-index: 6;
  position: absolute;
  width: 60%;
  height: 40%;
  transform: translateY(100%) translateX(70%);
  margin-bottom: 0;
  margin-top: 90px;
}

.c:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.p:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.v:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.com:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.img_3section {
  transition: opacity 0.5s ease-in-out; /* Puedes ajustar la duración y el tipo de transición según tus preferencias */
}

.fourth_section {
  display: grid;
  grid-template-columns: 55% 45%;
  height: 95vh;
  width: 100%;
  background: linear-gradient(to right, rgb(0, 0, 0) 50%, rgb(255, 255, 255) 0%);
}
.fourth_section p {
  font-family: "AdelleEB";
}
.fourth_section .circulo {
  width: 220px;
  height: 220px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: -5%;
  margin: 10px;
  transform: translateY(-15%);
}

.background_video4 {
  display: flex;
  justify-content: end;
  align-items: center;
  overflow: hidden; /* Para ocultar partes del video que excedan el contenedor */
}

#background_Video4 {
  height: 72vh;
  width: 60%;
  object-fit: cover;
}

.fourth_section_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fourth_section_text p {
  color: #000;
  text-align: center;
  font-size: 30px;
}
.fourth_section_text div {
  margin-bottom: 50px;
}

#fourth_section_text_animation {
  transition: opacity 2s ease-in-out;
}

.fifth_section {
  display: grid;
  grid-template-columns: 45% 55%;
  height: 85vh;
  width: 100%;
  background: linear-gradient(to right, white 50%, black 0%);
}

.fifth_section_img {
  margin-top: 30px;
  height: 500px;
  display: flex;
  align-items: center;
  object-fit: cover;
}

#card3 {
  width: 65%;
  transform: translateY(70%) translateX(85%);
}

.portada_cocinas {
  background-image: url("../media/img/cocinas/portada3-1024x512-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 88vh;
  display: flex;
  justify-content: start;
  align-items: end;
  margin-bottom: 8%;
}
.portada_cocinas h1 {
  font-family: "AdelleEB";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: white;
}
.portada_cocinas .portada_cocinas_titulo {
  transform: translateY(40px);
}

.first_section_cocinas p {
  margin: 0 auto;
  max-width: 820px;
  color: black;
  font-size: 15px;
  font-family: "AdelleL";
  text-align: justify;
}

.galery_content {
  margin: 0 auto;
  max-width: 820px;
}

.content {
  text-align: center;
  background-color: white;
}

.mosaics {
  margin: 100px auto;
}

.mosaics_type {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  grid-auto-flow: dense;
  grid-gap: 15px;
}

.mosaics_type .mosaics_ph:nth-child(6n+1),
.mosaics_type .mosaics_ph:nth-child(6n+2),
.mosaics_type .mosaics_ph:nth-child(6n+5),
.mosaics_type .mosaics_ph:nth-child(6n+6) {
  grid-column: span 2;
}

.mosaics_type .mosaics_ph:nth-child(6n+3),
.mosaics_type .mosaics_ph:nth-child(6n+4) {
  grid-row: span 2;
}

.image_btn_image {
  filter: grayscale(70%);
}

.image_btn_image:hover {
  transition: 0.6s;
  filter: grayscale(0%);
}

.portada_nosotros {
  background-color: black;
  height: 88vh;
  display: flex;
  justify-content: start;
  align-items: end;
  margin-bottom: 8%;
}
.portada_nosotros h1 {
  font-family: "AdelleEB";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: white;
}
.portada_nosotros .portada_nosotros_titulo {
  transform: translateY(40px);
}

.mision_section {
  margin-top: 15%;
  display: grid;
  grid-template-columns: 55% 45%;
  height: 85vh;
  width: 100%;
  background-color: black;
}
.mision_section p {
  font-family: "AdelleL";
}

.mision_section_img {
  z-index: 3;
  display: flex;
  justify-content: end;
  align-items: start;
  transform: translateY(-80px);
  overflow: hidden; /* Para ocultar partes del video que excedan el contenedor */
}

.mision_img {
  z-index: 3;
  height: 100%;
  width: 70%;
  object-fit: cover;
}

.mision_section_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}
.mision_section_text h2 {
  font-size: 30px;
  font-family: "AdelleEB";
  color: #ffffff;
}
.mision_section_text p {
  color: #ffffff;
  text-align: justify;
  font-size: 18px;
  width: 400px;
}
.mision_section_text div {
  margin-bottom: 50px;
}

.vision_section {
  display: grid;
  grid-template-columns: 45% 55%;
  height: 85vh;
  width: 100%;
  background: linear-gradient(to right, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 0%);
}
.vision_section p {
  font-family: "AdelleL";
}

.vision_section_img {
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden; /* Para ocultar partes del video que excedan el contenedor */
}

.vision_img {
  height: 75vh;
  width: 75%;
  object-fit: cover;
}

.vision_section_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}
.vision_section_text h2 {
  font-size: 30px;
  font-family: "AdelleEB";
  color: #000000;
}
.vision_section_text p {
  color: #000000;
  text-align: justify;
  font-size: 18px;
  width: 400px;
}
.vision_section_text div {
  margin-bottom: 50px;
}

.valores_section {
  display: grid;
  grid-template-columns: 55% 45%;
  height: 85vh;
  width: 100%;
  background: linear-gradient(to right, rgb(0, 0, 0) 50%, rgb(255, 255, 255) 0%);
}
.valores_section p {
  font-family: "AdelleL";
}

.valores_section_img {
  display: flex;
  justify-content: end;
  align-items: center;
  overflow: hidden; /* Para ocultar partes del video que excedan el contenedor */
}

.valores_img {
  height: 75vh;
  width: 75%;
  object-fit: cover;
}

.valores_section_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}
.valores_section_text h2 {
  font-size: 30px;
  font-family: "AdelleEB";
  color: #000000;
}
.valores_section_text p {
  color: #000000;
  text-align: justify;
  font-size: 18px;
  width: 400px;
}
.valores_section_text div {
  margin-bottom: 50px;
}

.staff_h1 {
  background-color: #000000;
  text-align: center;
  color: white;
}
.staff_h1 h1 {
  font-size: 50px;
  font-family: "AdelleEB";
  padding-top: 10%;
}

.staff_section {
  width: 100%;
  height: 100vh;
  background-color: #000000;
  display: grid;
  grid-gap: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-items: center;
}

.retrato_description {
  color: #000000;
  background-color: white;
  text-align: center;
  transform: translateY(-4px);
  padding: 5px;
  font-family: "AdelleL";
  opacity: 0;
  transition: opacity 0.5s ease;
}
.retrato_description h3 {
  padding-bottom: 5px;
}

.retrato:hover .retrato_description {
  opacity: 1;
}

.portada_complementos {
  background-image: url("../media/img/complementos/portadacom.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 88vh;
  display: flex;
  justify-content: start;
  align-items: end;
  margin-bottom: 8%;
}
.portada_complementos h1 {
  font-family: "AdelleEB";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: white;
}
.portada_complementos .portada_complementos_titulo {
  transform: translateY(40px);
}

.contact_main_section {
  display: grid;
  grid-template-columns: 60%, 40%;
  background: linear-gradient(to right, rgb(0, 0, 0) 60%, rgb(255, 255, 255) 0%);
  width: 100%;
  height: 100vh;
  display: flex;
}
.contact_main_section a {
  color: white;
  text-decoration: none;
}

.contact_left_side {
  height: 100vh;
  padding-top: 130px;
  display: flex;
  width: 65%;
  padding-left: 80px;
  flex-direction: column;
}
.contact_left_side h1 {
  font-size: 70px;
  font-family: "AdelleEB";
  color: white;
}
.contact_left_side p {
  font-family: "AdelleL";
  color: white;
  font-size: 25px;
}

.contact_left_side_booking {
  padding-top: 80px;
  width: 65%;
  font-family: "AdelleL";
}
.contact_left_side_booking h2 {
  color: white;
  font-size: 25px;
  padding-bottom: 20px;
}

.contact_left_side_information {
  padding-top: 90px;
  padding-bottom: 30px;
  font-family: "AdelleL";
}

.contact_left_side_icons a {
  padding-right: 6px;
}

.contact_right_side {
  font-family: "AdelleL";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  height: 100vh;
}

input {
  font-size: 20px;
  height: 30px;
  width: 100%;
  border-top: none;
  border-left: 0;
  border-right: 0;
  border-bottom: black solid 2px;
  margin-bottom: 25px;
}

.contact_form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

form {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.enviar {
  text-align: center;
  padding: 8px;
  border: 0;
  cursor: pointer;
  font-size: 20px;
  font-family: "AdelleEB";
  color: white;
  background-color: black;
}

.enviar:hover {
  transition: 0.5s;
  color: black;
  background-color: white;
}

.maps {
  filter: grayscale(100%) invert(100%) brightness(1);
}

.portada_vestidores {
  background-image: url("../media/img/cocinas/portada3-1024x512-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 88vh;
  display: flex;
  justify-content: start;
  align-items: end;
  margin-bottom: 8%;
}
.portada_vestidores h1 {
  font-family: "AdelleEB";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: white;
}
.portada_vestidores .portada_vestidores_titulo {
  transform: translateY(40px);
}

.portada_desarrollos {
  background-image: url("../media/img/complementos/portadacom.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 88vh;
  display: flex;
  justify-content: start;
  align-items: end;
  margin-bottom: 8%;
}
.portada_desarrollos h1 {
  font-family: "AdelleEB";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: white;
}
.portada_desarrollos .portada_desarrollos_titulo {
  transform: translateY(40px);
}

.projects_section {
  margin-top: 12%;
  color: white;
  background-color: black;
}
.projects_section h2 {
  padding: 40px;
  font-family: "AdelleEB";
  font-size: 40px;
  text-align: center;
}
.projects_section p {
  font-family: "AdelleL";
}

.portada_placares {
  background-image: url("../media/img/cocinas/portada3-1024x512-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 88vh;
  display: flex;
  justify-content: start;
  align-items: end;
  margin-bottom: 8%;
}
.portada_placares h1 {
  font-family: "AdelleEB";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: white;
}
.portada_placares .portada_placares_titulo {
  transform: translateY(40px);
}

.menu {
  border: 0;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
  background: white;
  width: 80px;
  height: 60px;
  position: absolute;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.menu span {
  /* margin-left: 23px; */
  display: block;
  width: 40%;
  height: 2px;
  background: rgb(0, 0, 0);
  margin-top: 6px;
  transform-origin: 0px 100%;
  transition: all 600ms;
}

/*ANIMACION*/
.activel1 {
  transform: rotate(45deg) translate(-3px, 1px);
  background: #000000;
}

.activel2 {
  opacity: 0;
  margin-left: 30px;
}

.activel3 {
  background: #000000;
  transform: rotate(-45deg) translate(-5px, 2px);
}

.icons_in_menu {
  padding-top: 100px;
  text-align: end;
}
.icons_in_menu svg {
  padding: 1px;
}

.options_container {
  background-color: #ffffff;
  color: #000000;
  /* display: none;  */
  padding-right: 100px;
  padding-bottom: 100px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Sombra */
  position: fixed;
  left: -40%;
  width: 40%;
  transition: left 0.5s, width 0.5s;
  z-index: 1;
}

.options_container.active {
  left: 0;
  width: 40%;
  display: block;
}

/* Estilos para los enlaces en la barra lateral */
.options_container ul {
  margin-left: 68%;
  align-items: center;
  flex-direction: column;
  text-align: justify;
  list-style: none;
  margin-top: 175%;
}

.options_container ul li {
  padding-top: 10px;
  margin-bottom: 10px;
}

.options_container a {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  font-family: "AdelleL";
}

.card {
  height: 35vh;
  width: 40%;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Sombra */
  z-index: 2;
}
.card h3 {
  font-family: "AdelleL";
}
.card p {
  color: black;
  font-size: 15px;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 40px;
}

.card_title {
  flex-direction: column;
  text-align: justify;
}
.card_title h3 {
  padding-bottom: 35px;
  text-align: start;
}

.card_text {
  padding-right: 20px;
  font-family: "AdelleL";
}

.card_link {
  padding-top: 30px;
  padding-right: 25px;
  display: flex;
  justify-content: end;
}
.card_link a {
  font-family: "AdelleL";
  color: black;
  text-decoration: none;
}
.card_link p {
  font-family: "AdelleL";
}

.card_link a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=styles.css.map */
