.portada_complementos{
    background-image: url("../media/img/complementos/portadacom.webp");
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 88vh;
    display: flex;
    justify-content: start;
    align-items:end;
    h1{
        font-family: "AdelleEB";
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 100px;
        color: white;
    }
    .portada_complementos_titulo{
        transform: translateY(40px);
    }
}