.contact_main_section{
    display: grid;
    grid-template-columns: 60%,40%;
    background: linear-gradient(to right, rgb(0, 0, 0) 60%, rgb(255, 255, 255) 0%);
    width: 100%;
    height: 100vh;
    display: flex;
    a{
        color: white;
        text-decoration: none;
    }
}

.contact_left_side{
    height: 100vh;
    padding-top: 100px;
    display: flex;
    justify-content: space-evenly;
    width: 65%;
    padding-left: 80px;
    flex-direction: column;
    h1{
        font-size: 70px;
        font-family: "AdelleEB";
        color: white;
    }
    p{
        font-family: "AdelleL";
        color: white;
        font-size: 25px;
    }
}

address{
    font-style: normal;
    font-family: "AdelleL";
}

.contact_left_side_booking{
    flex-direction: column;
    width: 65%;
    font-family: "AdelleL";
    h2{
        color: white;
        font-size: 25px;
        padding-bottom: 20px;
    }
    li{
        padding-bottom: 5px;
    }
}

.contact_left_side_information{
    font-family: "AdelleL";
    margin-top: 30%;
}

.contact_left_side_icons{

    margin-top: 45px;
    a{
        padding-right: 6px;
    }
}

.contact_right_side{
    font-family: "AdelleL";
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
width: 40%;
height: 100vh;
padding-top: 110px;
}

input{
    font-size: 20px;
        height: 30px;
    width: 100%;
    border-top: none;
    border-left: 0;
    border-right: 0;
    border-bottom: black solid 2px;
    margin-bottom: 25px;
}

.contact_form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form{
    width: 80%;
    display: flex;
    flex-direction: column;
}

#buttonContact{
    text-align: center;
    padding: 8px;
    border: 0;
    cursor: pointer;
    font-size: 20px;
    font-family: "AdelleEB";
    color: white;
    background-color: black;
}

#buttonContact:hover{
    transition: .5s;
    background-color: rgb(37, 37, 37);
}

#direccion{
    opacity: 0;
}

.map{
    height: 45%;
    resize: both;
    overflow: auto;
    width: 80%;
    outline: none;
}

.maps{
    width: 100%;
    height: 100%;
    outline: none;
}

input:focus {
    border-bottom: black solid 2px; 
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}


.contact_right_side_booking, .contact_right_side_icons{
    display: none;
}

@media(max-height:500px){
    .contact_left_side{
        p{
            margin-bottom: 20px;
        }
        svg{
            margin-bottom: 20px;
            width: 20px;
            height: 20px;
        }
        address{
            font-size: 14px;
        }
    }
    .contact_right_side{
       padding: 0;
       form{
        padding-top: 30px;
       }
    }
}

@media(max-width:1000px){
    .contact_left_side{
        h1{
            font-size: 40px;
        }
        p{
            font-size: 20px;
        }
    }
}

@media(max-width:750px){
    .contact_main_section{
        width: 100%;
        height: 100%;
        background: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .contact_left_side{
        transform: none;
        padding: 0;
        margin: 0;
        height: 220px;
        display: flex;
        justify-content: end;
        align-items: center;
        width: 100%;
        flex-direction: column;
        h1{
            font-size: 38px;
            font-family: "AdelleEB";
            color: white;
        }
        p{
            font-family: "AdelleL", "RobotoL", sans-serif;
            color: white;
            font-size: 15px;
            padding-bottom: 20px;
        }
        .contact_left_side_booking{
            display: none;
        }
        .contact_left_side_icons{
            display: none;
        }
        order: 1;
    }

    .contact_right_side{
        padding: 0;
        transform: none;
        width: 100%;
        order: 2;
        background: linear-gradient(to bottom, rgb(0, 0, 0) 50%, rgb(255, 255, 255) 0%);
    }

    form{
        transform: none;
        width: 75%;
        display: flex;
        flex-direction: column;
    }

    input{
        font-size: 20px;
            height: 30px;
        width: 100%;
        border: 1px solid white;
        border-radius: 5px;
        padding-left: 5px;
        margin-bottom: 25px;
    }

    #buttonContact{
        border-radius: 5px;
        text-align: center;
        padding: 8px;
        border: 1px solid white;
        cursor: pointer;
        font-size: 20px;
        font-family: "AdelleEB";
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
    }
    
    #buttonContact:hover{
        transition: .5s;
        color: black;
        background-color: rgb(255, 255, 255);
    }

    .map{
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75%;
        iframe{
            outline: none;
            margin: 0;
            padding: 0;
            height: 300px;
            border: 1px solid white;
            width: 100%;
            height: 100%;
        }
    }

    .contact_right_side_icons{
        display: block;
        svg{
            color: black;
        }
        margin-top: 45px;
        a{
            padding-right: 6px;
        }
    }

    .contact_right_side_booking{
        display: block;
        text-align: center;
        flex-direction: column;
        font-family: "AdelleL", "RobotoL", sans-serif;
        text-decoration: none;
        order: 1;
        margin-top: 40px;
        li{
            list-style: none;
            padding-bottom: 5px;
            a{
                color: black;
            }
        }
    }
}
