.first_section{
    background-color: black;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    overflow: hidden;
}

@media(min-width:1075px){
    // por ver
}

.background_video {
    height: 100vh;
    overflow: hidden; 
}

#background_Video {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

//   .content {
//     background-color: rgb(114, 31, 31);
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//   }

.first_section_slogan{
    display: flex;
    padding-bottom: 85px;
}

#slogan{
    padding-left: 6px;
}

.first_section_slogan_word{
    opacity: 1;
    transition: opacity 2s ease-in-out;
}

.logo{
    margin-top: 130px;
    margin-left: 70px;
}

.first_section_slogan{
    p{  
        font-family: "AdelleL", "RobotoL", sans-serif;
        color: white;
        font-size: 25px;
        padding-top: 15px;
        padding-left: 80px;
    }
}

.first_section_content{
    // border: 1px solid khaki;
    height: 100%;
    display: grid;
    grid-template-rows: 55% 45%;
    overflow: hidden;
}

.first_section_portal{
    height: 100%;
    // border: 1px solid red;
    display: flex;
    overflow: hidden;
}
        .more {
            border: 1px solid rgb(235, 5, 158);
            text-align: center;
            height: 42px;
            a{
                text-decoration: underline;
                color: rgb(0, 0, 0);
                font-family: "AdelleL", "RobotoL", sans-serif;
                font-size: 35px;
            }
        }

.first_section_portal_img {
    position: relative;
    // border: 1px salmon solid;
    width: 65%;
    height: 100%;
    overflow:hidden;
    .video_portal{
        object-fit: cover;
        object-position: center;
        height:100%;
        // border: 1px solid lawngreen;
        position: absolute;
    }
}

      .first_section_portal_img video {
        width: 100%; /* Ocupa todo el ancho */
        // object-fit: contain; /* Evita la deformación */
    }


    .first_section_portal_button{
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        background-color: rgb(255, 255, 255);
        width: 50px;
        height: 110px;
        svg{
            fill: rgb(0, 0, 0);
        }
    }

.first_section_portal_button:hover{
    transition: .7s;
    background-color: rgb(117, 116, 116) ;
    svg{
        fill: white;
    }
}

.cta-icon{
    display: none;
    margin-top: 20px;
        color: white;
}

.second_section{
    display: flex;
    width: 100%;
    height: 65vh;
    background-color: #000;
    overflow: hidden; 
    img{
        height: 65vh;
        width: 50%;
        object-fit: cover;
    }
}

#card1 {
    position: absolute;
    transform: translateX(90%) translateY(50%);
}


.img_2section {
    transition: opacity 0.5s ease-in-out;
  }

.third_section{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 90vh;
    width: 100%;
    overflow: hidden; 
    background: linear-gradient(to right, white 50%, rgb(0, 0, 0) 0%);
    a{
        text-decoration: none;
        color: black;
    }
    li{
        font-family: "AdelleL", "RobotoL", sans-serif;
        font-weight: normal;
        font-size: 32px;
    }
    img{
        height: 100%;
        width: 90%;
        object-fit: cover;
        transition: opacity 0.5s ease-in-out;
    }
}

.vertical_line{
    width: 1px;
    height: 40%; 
    background-color: #000; 
    margin-right: 25px; 
    margin-bottom: 50px;
    display: inline-block; 
}

.third_section_photos{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.carousel-wrapper {
    height: 90vh;
    width: 95%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    flex: 0 0 auto;
    width: 100%;
    box-sizing: border-box;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.third_section_links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
    ul li{
        transform: translateY(-40%);
        margin-bottom: 15px;
        list-style: none;
    }
    .c{
        width: 145px;
    }
    .p{
        width: 155px;
    }
    .v{
        width: 185px;
    }
    .com{
        width: 255px;
    }
}

.c:hover{
    transform: scale(1.1);
    padding-bottom: 10px;
    transition: .5s;
}

.p:hover{
    transform: scale(1.1);
    padding-bottom: 10px;
    transition: .5s;
}

.v:hover{
    transform: scale(1.1);
    padding-bottom: 10px;
    transition: .5s;
}

.com:hover{
    transform: scale(1.1);
    transition: .5s;
}

.third_section_btn_container {
    padding: 10px;
    width: 50px;
    height: 100px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-30px);
  }

.fourth_section{
    display: grid;
    grid-template-columns: 55% 45%;
    height: 95vh;
    width: 100%;
    background: linear-gradient(to right, rgb(0, 0, 0) 50%, rgb(255, 255, 255) 0%);
    p{
        font-family: "AdelleEB";
    }
    h3{
        font-family: "AdelleEB";
    }
    .circulo {
        width: 220px;
        height: 220px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        left: -5%;
        margin: 10px; 
        transform: translateY(-15%);
      }
}

.background_video4 {
    display: flex;
    justify-content: end;
    align-items: center;
    overflow: hidden;
}

#background_Video4 {
    height: 72vh;
    width: 60%; 
    object-fit: cover; 
}

.fourth_section_text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p{
        color: #000;
        text-align: center;
        font-size: 30px;
    }
    h3{
        color: #000;
        text-align: center;
        font-size: 30px;
    }
    div{
        margin-bottom: 50px;
    }
}

#fourth_section_text_animation{
    transition: opacity 2s ease-in-out;
}

.fifth_section{
    display: grid;
    grid-template-columns: 45% 55%;
    height: 90vh;
    width: 100%;
    background: linear-gradient(to right, white 50%, black 0%);
}

.fifth_section_img{
    margin-top: 30px;
    height: 500px;
    display: flex;
    align-items: center;
    object-fit: cover;
}

#card3{
    width: 65%;
    transform: translateY(70%) translateX(85%);
}

@media(max-width:750px){
    .first_section_portal{
        display: none;
    }

      .first_section {
        display: flex;
        position: relative;
        height: 100vh;
        overflow: hidden;
    }

    .upside{
        width: 100%;
    }

    .background_video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .first_section_content {
        padding: 0;
        margin: 0;
        width: 100%;  
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        color: #fff; 
        text-align: center;
    }

    .logo{
        margin:0;
        width: 300px;
        margin-bottom: 10px;
    }

    .first_section_slogan{
        display: flex;
        justify-content: end;
        align-items: center;
        flex-direction: row;
        width: 100%;
        text-align: center;
        padding: 0;
        padding-right: 15px;
        p{
            font-size: 17px;
            padding: 0;
        }
    }

    .first_section_slogan_word {
        padding: 0;
        margin: 0;
        width: 40%;
        text-align: start;
    }

    .cta-icon{
        display: block;
        margin-top: 20px;
        color: white;
    }

    .second_section {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 70vh;
        background-image: url('../media/img/socialcontent/complemento-index-modulo.jpeg');
        background-size: cover;
        background-position: center;
        overflow: hidden;
        object-fit: cover;
        transform: none;
    }

    #img_2section{
        display: none;
    }

    #card1{
        transform: none;
        width: 280px;
        a{
            text-decoration: underline;
        }
    }

    .third_section{
        display:flex;
        justify-content:space-between;
        flex-direction: column;
        background: white;
        transform: none;
        width: 100%;
        #card2{
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
            background-color: #ffffff;
            color: rgb(0, 0, 0);
            p{
                color: rgb(0, 0, 0);
            }
            transform:translateY(-280px);
            z-index: 2;
            width: 300px;
            height: 200px;
            a{
                text-decoration: underline;
            }
        }
        .third_section_btn_container_left{
            display: none;
        }
    }

.third_section_links{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 210px;
    transform: none;
    ul{
        margin-top: 30px;
        transform: none;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    li{
        display: flex;
        align-items: center;
        padding: 0;
        margin-bottom: 0;
        font-size: 24px;
        width: 100%;
    }
    .vertical_line{
        height: 150px;
        margin-bottom: 10px;
    }
    .c{
        width: 100%;
    }
    .p{
        width: 100%;
    }
    .v{
        width: 100%;
    }
    .com{
        width: 100%;
    }
}

.third_section_photos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
}


.third_btn_left{
    display: none;
    svg{
        display: none;
    }
}

.third_section_btn_container{
    display: none;
}


.carousel-wrapper{
    height: 40vh;
    width: 100%;
}
    .circulo{
        display: none;
    }

    .fourth_section {
        position: relative;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin: 0;
    }
    
    .background_video4 {
        object-fit: cover;
        position: absolute;
        width: 70%;
        z-index: 1;
        left: 50%;
        transform: translateX(-50%);
    }
    
    #background_Video4 {
        width: 100%;
        height: 500px;
        display: block;
    }
    
    .fourth_section_text {
        position: absolute;
        z-index: 2;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
            font-size: 30px;
        color: white;
        }
        h3{
            font-size: 30px;
        color: white;
        }
        .trajectory{
            width: 300px;
        }
    }

    .fifth_section {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: #000;
        height: 70vh;
        background-image: url('../media/img/obras/nordlink.jpeg');
        background-size: cover;
        background-position: center;
        overflow: hidden;
        object-fit: cover;
        transform: none;
    }

    #img_5section{
        display: none;
    }

    #card3{
        transform: none;
        width: 280px;
        a{
            text-decoration: underline;
        }
    }
}


@media(max-height:500px){
    .logo{
        width: 220px;
    }
    .first_section_slogan{
        p{
            font-size: 15px;
        }
    }
    .first_section_portal{
        display: none;
    }
    .cta-icon{
        display: block;
        transform:translate(195px,-65px)
    }
    .second_section{
        height: 100%;
    }
    .third_section{
        height: 100%;
        li{
            font-size: 20px;
        }
        .third_section_btn_container_left{
           display: none;
        }
    }
    .fourth_section{
        h3{
            font-size: 20px;
        }
        .circulo{
            width: 120px;
            height: 140px;
            background-color: white;
            border-radius: 50%;
            position: absolute;
            left: -6%;
        }
    }
    .fifth_section{
        height: 100%;
    }
}

@media(min-width:750px) and (max-width:1080px){
    .first_section_portal{
        display: none;
    }
    .cta-icon{
        display: block;
    }
    .third_section{
        li{
            font-size: 23px;
        }
        .third_section_btn_container_left{
            display: none;
        }
    }
    .fourth_section{
        .circulo{
            width: 170px;
            height: 190px;
            left: -7%;
        }
    }
    .fifth_section{
        height: 100%;
    }
}