.portada_nosotros{
//     background-image: url("../media/img/complementos/portadacom.webp");
//   background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     object-fit: cover;
background-color: black;
    height: 88vh;
    display: flex;
    justify-content: start;
    align-items:end;
    margin-bottom: 8%;
    h1{
        font-family: "AdelleEB";
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 100px;
        color: white;
    }
    .portada_nosotros_titulo{
        transform: translateY(40px);
    }
}



.mision_section{
    margin-top: 15%;
    display: grid;
    grid-template-columns: 55% 45%;
    height: 85vh;
    width: 100%;
    background-color: black;
    p{
        font-family: "AdelleL";
    }
}


.mision_section_img{
    z-index: 3;
    display: flex;
    justify-content: end;
    align-items: start;
    transform: translateY(-80px);
    overflow: hidden; /* Para ocultar partes del video que excedan el contenedor */
}

.mision_img{
    z-index: 3;
    height: 100%;
    width: 70%; 
    object-fit: cover;
    // transform: translateY(-40px);
}


.mision_section_text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 5%;
        margin-right: 5%;
    h2{
        font-size: 30px;
        font-family: "AdelleEB";
        color: #ffffff;
    }
    p{
        color: #ffffff;
        text-align: justify;
        font-size: 18px;
        width: 400px;
    }
    div{
        margin-bottom: 50px;
    }
}


//Vision


.vision_section{
    display: grid;
    grid-template-columns: 45% 55%;
    height: 85vh;
    width: 100%;
    background: linear-gradient(to right, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 0%);
    p{
        font-family: "AdelleL";
    }
}


.vision_section_img{
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden; /* Para ocultar partes del video que excedan el contenedor */
}

.vision_img{
    height: 75vh;
    width: 75%; 
    object-fit: cover;
    // transform: translateY(40px);
}


.vision_section_text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 5%;
        margin-right: 5%;
    h2{
        font-size: 30px;
        font-family: "AdelleEB";
        color: #000000;
    }
    p{
        color: #000000;
        text-align: justify;
        font-size: 18px;
        width: 400px;
    }
    div{
        margin-bottom: 50px;
    }
}






//Valores
.valores_section{
    display: grid;
    grid-template-columns: 55% 45%;
    height: 85vh;
    width: 100%;
    background: linear-gradient(to right, rgb(0, 0, 0) 50%, rgb(255, 255, 255) 0%);
    p{
        font-family: "AdelleL";
    }
}


.valores_section_img{
    display: flex;
    justify-content: end;
    align-items: center;
    overflow: hidden; /* Para ocultar partes del video que excedan el contenedor */
}

.valores_img{
    height: 75vh;
    width: 75%; 
    object-fit: cover;
    // transform: translateY(40px);
}


.valores_section_text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 5%;
        margin-right: 5%;
    h2{
        font-size: 30px;
        font-family: "AdelleEB";
        color: #000000;
    }
    p{
        color: #000000;
        text-align: justify;
        font-size: 18px;
        width: 400px;
    }
    div{
        margin-bottom: 50px;
    }
}


//Staff

.staff_h1{
    background-color: #000000;
    text-align: center;
    color: white;
    h1{
        font-size: 50px;
        font-family: "AdelleEB";
        padding-top: 10%;
    }
}

.staff_section{
    width: 100%;
    height: 100vh;
    background-color: #000000;
    display: grid;
    grid-gap: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-items: center;
    padding-bottom: 5%;
}


.retrato_description{
    color: #000000;
    background-color: white;
    text-align: center;
    transform: translateY(-4px);
    padding: 5px;
    font-family: "AdelleL";
    opacity: 0; 
    transition: opacity 0.5s ease; 
    h3{
        padding-bottom: 5px;
    }
}


.retrato:hover .retrato_description {
    opacity: 1; 
}


