.portada_nosotros{
//     background-image: url("../media/img/complementos/portadacom.webp");
//   background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     object-fit: cover;
background-color: black;
    height: 88vh;
    display: flex;
    justify-content: start;
    align-items:end;
    margin-bottom: 8%;
    h1{
        font-family: "AdelleEB";
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 100px;
        color: white;
    }
    .portada_nosotros_titulo{
        transform: translateY(40px);
    }
}


// .mision_container{
//     margin-top: 15%;
//     width: 100%;
//     height: 85vh;
//     background: linear-gradient(to right, rgb(0, 0, 0) 55%, rgb(255, 255, 255) 0%);
//     color: white;
//     display: grid;
//     grid-template-columns: 55%, 45%;
// }

// .mision_img{
//     display: flex;
//     justify-content: end;
//     align-items: center;
//     overflow: hidden; /* Para ocultar partes del video que excedan el contenedor */
//     img{
//         height: 72vh;
//         object-fit: cover; 
//     overflow: hidden; /* Para ocultar partes del video que excedan el contenedor */
//     }
// }

// .mision_texto{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//    
//     h2{
//         font-size: 30px;
//         text-align: center;
//         font-family: "AdelleEB";
//     }
//     p{
//         font-family: "AdelleL";
//         text-align: justify;
//     }
// }





.mision_section{
    margin-top: 15%;
    display: grid;
    grid-template-columns: 55% 45%;
    height: 85vh;
    width: 100%;
    background-color: black;
    p{
        font-family: "AdelleL";
    }
}


.mision_section_img{
    display: flex;
    justify-content: end;
    align-items: center;
    overflow: hidden; /* Para ocultar partes del video que excedan el contenedor */
}

.mision_img{
    height: 75vh;
    width: 70%; 
    object-fit: cover;
    // transform: translateY(40px);
}


.mision_section_text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 5%;
        margin-right: 5%;
    h2{
        font-size: 30px;
        font-family: "AdelleEB";
        color: #ffffff;
    }
    p{
        color: #ffffff;
        text-align: justify;
        font-size: 20px;
        width: 400px;
    }
    div{
        margin-bottom: 50px;
    }
}