.portada_desarrollos{
    background-image: url("../media/img/obras/nordlink.jpeg");
    filter: grayscale(100%);
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 88vh;
    display: flex;
    justify-content: start;
    align-items:end;
    margin-bottom: 8%;
    h1{
        font-family: "AdelleEB";
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 100px;
        color: white;
    }
    .portada_desarrollos_titulo{
        transform: translateY(40px);
    }
}

.projects_section{
    margin-top: 12%;
    color: white;
    background-color: black;
    h2{
        padding-top:40px;
        font-family: "AdelleEB";
        font-size: 40px;
        text-align: center;
    }
    p{
        font-family: "AdelleL", "RobotoL", sans-serif;
    }
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.projects_view_list{
    padding: 40px;
    background-color: black;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    justify-items: center;
    align-items: center;
    gap: 10px;
    button{
        margin: 20px;
        font-size: 20px;
        border: 0;
        background: transparent;
        color: black;
        background-color: white;
        font-family: "AdelleL", "RobotoL", sans-serif;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            padding-right: 10px;
        }
    }
    .proyecto{
        font-family: "AdelleL";
        color: white;
    }
}

@media(max-width:600px){
    .portada_desarrollos{
      height: 73vh;
      }
      .portada_desarrollos_titulo{
          width: 100%;
          display: flex;
          justify-content: start;
          align-items: center;
          text-align: center;
          h1{
              font-family: "AdelleEB";
              text-align: center;
              font-size: 48px;
              color: white;
              padding-bottom: 20px;
          }
      }
      .projects_section{
        color: white;
        background-color: black;
        h2{
            font-family: "AdelleEB";
            font-size: 30px;
            text-align: center;
        }
        p{
            font-family: "AdelleL", "RobotoL", sans-serif;
        }
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .projects_view_list{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        text-align: center;
    }
    .proyecto{
        font-size: 11px;
    }
  }

  @media(max-height:450px){
    .projects_view_list{
        padding-top: 40px;
    }
    .projects_section{
        h2{
            font-size: 35px;
        }
    }
  }