.portada_desarrollos{
    background-image: url("../media/img/complementos/portadacom.webp");
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 88vh;
    display: flex;
    justify-content: start;
    align-items:end;
    margin-bottom: 8%;
    h1{
        font-family: "AdelleEB";
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 100px;
        color: white;
    }
    .portada_desarrollos_titulo{
        transform: translateY(40px);
    }
}


.projects_section{
    margin-top: 12%;
    color: white;
    background-color: black;
    h2{
        padding:40px;
        font-family: "AdelleEB";
        font-size: 40px;
        text-align: center;
    }
    p{
        font-family: "AdelleL";
    }
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.projects_section_title{
    border-bottom: 1px solid salmon;
}


// Carrousel
// .carousel {
//     // position: relative;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 80%;
//     margin: 0 auto;
//     overflow: hidden;
// }

// .carousel_item {
//     position: relative;
//     height: 35rem;
//     width: 25rem;
//     border-radius: 3px;
//     overflow: hidden;
//     box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5);
//     position: absolute;
//     transform: translate(-50%, -50%) scale(0.1);
//     z-index: 0;
//     transition: all 0.2s linear;
// }

// .carousel_item img {
//     width: 100%;
//     min-height: 100%;
//     object-fit: cover;
// }

// .carousel_item--main {
//     transform: translate(-50%, -50%) scale(1);
//     z-index: 2;
//     cursor: pointer;
// }

// .carousel_item--left {
//     transform: translate(-110%, -50%) scale(0.9);
//     z-index: 1;
// }

// .carousel_item--right {
//     transform: translate(10%, -50%) scale(0.9);
//     z-index: 1;
// }

// .carousel_button {
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     background: rgba(255, 255, 255, 0.5);
//     color: rgb(107, 14, 14);
//     border: none;
//     padding: 1rem;
//     cursor: pointer;
//     z-index: 3;
// }

// .carousel_button--left {
//     left: 10px;
// }

// .carousel_button--right {
//     right: 10px;
// }

// .caption {
//     position: absolute;
//     bottom: 20px;
//     left: 50%;
//     transform: translateX(-50%);
//     background: rgba(0, 0, 0, 0.5);
//     color: white;
//     padding: 10px;
//     border-radius: 5px;
// }



.projects_view_list{
    display: flex;
    justify-content: center;
    align-items: center;
    button{
        margin: 20px;
        font-size: 20px;
        border: 0;
        background: transparent;
        color: black;
        font-family: "AdelleL";
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            padding-right: 10px;
        }
    }
    
}