.portada_placares{
    background-image: url("../media/img/cajoness.jpeg");
    filter: grayscale(100%);
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 88vh;
    display: flex;
    justify-content: start;
    align-items:end;
    margin-bottom: 8%;
    h1{
        font-family: "AdelleEB";
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 100px;
        color: white;
    }
    .portada_placares_titulo{
        transform: translateY(40px);
    }
}

@media(max-width:600px){
    .portada_placares{
      height: 73vh;
      }
      .portada_placares_titulo{
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          h1{
              font-family: "AdelleEB";
              text-align: center;
              font-size: 60px;
              color: white;
              padding-bottom: 13px;
          }
      }
  }