.portada_pyv{
    background-image: url("../media/img/cocinas/portada3-1024x512-1.jpg");
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 88vh;
    display: flex;
    justify-content: start;
    align-items:end;
    h1{
        font-family: "AdelleEB";
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
    }
    .portada_pyv_titulo{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 50%;
        height: 90px;
    }
}