.view_list_btn{
    padding: 20px;
    box-shadow: 0 0 15px rgba(250, 250, 250, 0.5);
}

.third_section_btn{
    cursor: pointer;
    svg{
        color: white;
    }
    border: 0;
    background: 0;
    z-index: 20;
    margin-left: 5px;
    z-index: 22px;
}

.third_section_btn:hover{
    transition: .5s;
    color: rgba(255, 255, 255, 0.4);
}

.third_section_btn_container_left{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform:translate(160px, 50px);
}
#third_btn_left{
    cursor: pointer;
    border: 0;
    background: none;
    color: rgb(0, 0, 0);
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

.chevron-down {
    display: inline-block;
    animation: bounce 2s infinite;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55); 
}