.card{
    height: 35vh;
    width: 40%;
    background: white;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Sombra */
z-index: 999;
transition: opacity 0s;
    h3{
        font-family: "AdelleL", "RobotoL", sans-serif;
    }
    p{
        color: black;
        font-size: 15px;
    }
}


.card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 40px;
}

.card_title{
    h3{
        padding-bottom: 35px;
        text-align: start;
    }
    flex-direction: column;
    text-align: justify;
}

.card_text{
    padding-right:20px ;
    font-family: "AdelleL", "RobotoL", sans-serif;
}

.card_link{
    padding-top: 30px;
    padding-right: 25px;
    display: flex;
    justify-content: end;
    a{
    font-family: "AdelleL", "RobotoL", sans-serif;

        color: black;
        text-decoration: underline;
    }
    p{
    font-family: "AdelleL", "RobotoL", sans-serif;

    }
}

#card2{
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 35px;
    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Sombra */
    z-index: 999;
    transition: opacity 0s;
        h3{
    font-family: "AdelleL", "RobotoL", sans-serif;

        }
        p{
            color: black;
            font-size: 15px;
        }
    position: absolute;
    width: 30%;
    height: 30%;
    transform: translateY(55%) translateX(-70%);
    margin-bottom: 0;
    margin-top: 90px;
    opacity: 1; 
    transition: opacity 0.5s ease-in-out; 
}


@media(max-width:600px){
    .card {
        height: 35vh;
        width: 40%;
        background: white;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        z-index: 1;
        padding-left: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card_title h3 {
        padding-bottom: 35px;
        text-align: start;
    }
    
    .card_title p {
        padding-right: 20px;
        text-align: justify;
    font-family: "AdelleL", "RobotoL", sans-serif;
    }
    
    .card_link {
        padding-top: 30px;
        padding-right: 25px;
        display: flex;
        justify-content: end;
    }
    
    .card_link a {
    font-family: "AdelleL", "RobotoL", sans-serif;

        color: black;
    }
}