footer{
    margin: 0;
    padding: 0;
    bottom: 0;
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    padding-bottom: 25px;
    img{
        padding-top: 20px;
        padding-bottom: 8px;
    }
    a{
        text-decoration: none;
    }
    svg{
        color: white;
        padding: 5px;
        cursor: pointer;
    }
}

.first_container_footer{
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        transform: translateX(-90px);
    }
    gap: 40px;
}

.footer_iconos{
    transform: translateY(10px);
}

//Icons
#whatsApp_icon:hover{
    cursor: pointer;
    color: rgb(117, 116, 116);
    transition: .5s;
}


  #instagram_icon:hover path {
    color: rgb(117, 116, 116);
    transition: .5s;
  }

#facebook_icon:hover{
    color: rgb(117, 116, 116);
    transition: .5s;
}

#pinterest_icon:hover{
    color: rgb(117, 116, 116);

    transition: .5s;
}

#linkedin_icon:hover{
    color: rgb(117, 116, 116);
    transition: .5s;
}

.container_links_footer{
    display: flex;
    justify-content: center;
    text-align: justify;
    padding-top: 15px;
    padding-bottom: 15px;
}

.container_texts_footer{
    padding: 50px;
    padding-top: 25px;
    padding-bottom: 35px;
    font-family: "AdelleL", "RobotoL", sans-serif;
    ul{
        list-style: none;
    }
    li {
        line-height: 1.5; 
        margin-bottom: 10px; 
    }
    a{
        text-decoration: none;
        color: #ffffff;
    }
}

small{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
    a{
        text-decoration: none;
        color: white;
    }
    color: #ffffff;
}

.developer{
    color:  white;
}

.developer:hover{
    text-decoration: underline;
    transition: .5s;
}

.last_container_footer{
    display: flex;
    flex-direction: column;
}

@media(max-width:600px){
    footer{
        width: 100%;
    }
    .logo_in_footer{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .first_container_footer img {
        transform: none;
    }
    .footer_iconos{
        transform: none;
    }
    .first_container_footer{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
    .container_links_footer{
        width: 100%;
    }
    .container_texts_footer{
        width: 100%;
        padding: 5px;
        ul{
            font-size: 13px;
        }
    }
    .last_container_footer{
        font-size: 12px;
    }
}