.image_btn{
    text-decoration: none;
  cursor: pointer;
}


.image_btn__image {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    img{
      border-style: none;
    }
  }


  .image-btn__description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 60px);
    margin: 0 30px 30px;
    color: #fff0;
    z-index: 1;
    transform: translateY(50%);
    transition: all ease-out 0.2s;
  }

  .image_btn_description::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 15px;
    width: 13px;
    height: 13px;
    border: solid 1px #fff;
      border-top-width: 1px;
      border-top-style: solid;
      border-top-color: rgb(255, 255, 255);
      border-left-width: 1px;
      border-left-style: solid;
      border-left-color: rgb(255, 255, 255);
    border-left: none;
    border-top: none;
    transform: translateX(-50%) rotate(45deg);
  }

  .mosaics_ph .image_btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    transition: all ease-out 0.2s;
  }