*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: "AdelleEB";
    src: url(../media/font/Adelle_ExtraBold.otf);
}

@font-face {
    font-family: "RobotoB";
    src: url(../media/font/Roboto-Bold.ttf);
}

@font-face {
    font-family: "AdelleB";
    src: url(../media/font/adelle-sans-bold.otf);
}

@font-face {
    font-family: "RobotoR";
    src: url(../media/font/Roboto-Regular.ttf);
}

@font-face {
    font-family: "AdelleL";
    src: url(../media/font/adelle-sans-light.otf);
}

@font-face {
    font-family: "RobotoL";
    src: url(../media/font/Roboto-Light.ttf);
}

body::-webkit-scrollbar{
    background: rgb(0, 0, 0);
    width: 12px;
}

body::-webkit-scrollbar-thumb{
    background: rgb(255, 255, 255);
}

html {
    scroll-behavior: smooth;
  }

  @media(max-width:600px){
    body.menu-open {
        overflow: hidden;
    }
  }


